<%- include("./partials/nav.ejs") %>

    <body>
        <form action="/newcomment" method="POST">
            <label for="text">add comment</label>
            <input type="text" id="txet" name="text" required>
            <label for="name">your name</label>
            <input type="text" id="name" name="name" required>
            <label for="user">user</label>
            <input type="text" id="user" name="user" required>
            <button>Submit</button>
        </form>
    </body>




    </html>